
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 206 33% 95%;
    --foreground: 210 50% 15%;
    --card: 0 0% 100%;
    --card-foreground: 210 50% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 50% 15%;
    --primary: 210 50% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 210 20% 90%;
    --secondary-foreground: 210 50% 40%;
    --muted: 210 20% 90%;
    --muted-foreground: 210 20% 40%;
    --accent: 180 64% 55%;
    --accent-foreground: 180 64% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 30% 85%;
    --input: 210 30% 85%;
    --ring: 210 50% 40%;
    --chart-1: 210 50% 40%;
    --chart-2: 180 64% 55%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 210 50% 10%;
    --foreground: 210 33% 95%;
    --card: 210 50% 12%;
    --card-foreground: 210 33% 95%;
    --popover: 210 50% 12%;
    --popover-foreground: 210 33% 95%;
    --primary: 180 64% 55%;
    --primary-foreground: 210 50% 10%;
    --secondary: 210 30% 20%;
    --secondary-foreground: 180 64% 55%;
    --muted: 210 30% 20%;
    --muted-foreground: 210 20% 70%;
    --accent: 180 64% 55%;
    --accent-foreground: 210 50% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 30% 20%;
    --input: 210 30% 20%;
    --ring: 180 64% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
